@import '../../utils/colors';

.authContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	min-height: 100vh;
	background-color: $color-primary;
}
.bgPhoto {
	height: 100vh;
	width: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.authContainer__register {
	flex-direction: row-reverse;
}
