.button {
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	outline: none;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	&:focus-visible {
		outline: 2px solid WHITE;
	}
	img {
		position: absolute;
		transform: translateX(150%);
	}
}
