@import '../../utils/colors';

.homeContainer {
	height: 100vh;
	width: 100%;
	background-image: url('https://firebasestorage.googleapis.com/v0/b/fitness-app-ldi.appspot.com/o/side-view-shot-of-a-fit-young-athletic-man-jumping-and-running%201.png?alt=media&token=af11c3e3-02f4-44c7-b34b-c7e2d20ec019');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.homeBg {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: uppercase;
	justify-content: center;
	padding: 64px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	button {
		align-self: flex-start;
		font-family: 'Montserrat';
		font-weight: lighter;
	}
}

@media only screen and (max-width: 1300px) {
	.homeContainer {
		.homeHeading {
			font-size: 2.6rem;
			line-height: 3.3rem;

			span {
				font-size: 3rem;
			}
		}
	}
}
@media only screen and (max-width: 1000px) {
	.homeContainer {
		.homeBg {
			padding: 32px;
		}
		.homeHeading {
			font-size: 1.8rem;
			line-height: 2.2rem;
			span {
				font-size: 2rem;
			}
		}
	}
}
@media only screen and (max-width: 600px) {
	.homeContainer {
		.homeBg {
			padding: 16px;
		}
		.homeHeading {
			font-size: 1.4rem;
			line-height: 1.8rem;
			span {
				font-size: 1.6rem;
			}
		}
		.startTrainingBtn {
			width: 100% !important;
			// flex-direction: column;
			img {
				position: relative;
				transform: translateX(0);
				// margin-top: 20px;
			}
		}
	}
}
