.trainingCard__container {
	display: flex;
	max-width: 300px;
	min-width: 200px;
	max-height: 364px;
	min-height: 264px;
	width: 30vw;
	height: calc(30vw + 64px);
	flex-direction: column;
	text-align: center;
	margin: 16px;
	.trainingCard__thumbnail {
		max-width: 300px;
		min-width: 200px;
		max-height: 300px;
		min-height: 200px;
		width: 30vw;
		height: 30vw;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.trainingCard__name {
		font-size: 1.3rem;
		text-transform: uppercase;
	}
}
