@import '../../utils/colors';

.difficultyLevel__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
	&:hover .difficultyLevel__image {
		transform: scale(1.1);
	}
	.difficultyLevel__image {
		transition: all 0.2s ease-in-out;
		width: 25vw;
		height: 25vw;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.difficultyLevel__text {
		font-size: 2rem;
		text-transform: uppercase;
		font-weight: 500;
		margin-top: 32px;
	}
}
@media only screen and (max-width: 726px) {
	.difficultyLevel__container {
		padding-bottom: 32px;
		margin-bottom: 32px;
		border-bottom: 2px solid $color-light-gray;
		text-align: center;
		width: 80vw;
		.difficultyLevel__image {
			width: 80vw;
			height: 60vw;
		}
		.difficultyLevel__text {
			margin-top: 16px;
			font-size: 1.5rem;
		}
	}
}
