@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap');
@import './utils/colors';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 24px;
	font-family: 'Oswald', 'Montserrat', 'Ubuntu', sans-serif;
	color: $color-text;
}
h1 {
	text-shadow: 0 4px rgba(#000, 0.5);
	font-size: 3.5rem;
	line-height: 5rem;
	margin: 64px 0;

	span {
		font-size: 4rem;
		color: $color-secondary;
	}
}
body {
	background-color: $color-primary;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
#root {
	overflow-x: hidden;
	min-height: 100vh;
}
main {
	position: absolute;
	width: 100%;
}
