@import '../../utils/colors';

.accountPageContainer {
	width: 100%;
	min-height: 100vh;
	.background {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 30vh;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-blend-mode: multiply;
		background-color: $color-gray;
		.logoutBtnContainer {
			position: absolute;
			top: 16px;
			right: 16px;
			.button {
				width: 150px !important;
			}
		}
		.backgroundEmail {
			font-size: 3vw;
		}
	}
	.statisticsContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;

		.statistics {
			font-size: 3rem;
			margin: 64px 0;
			padding: 0 32px;
			text-transform: uppercase;
			font-weight: bold;
			border-right: 2px solid $color-secondary;
			&:last-child {
				border: none;
			}
		}
	}
	.chartsContainer {
		width: 100%;
		padding: 64px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}
@media only screen and (max-width: 900px) {
	.accountPageContainer {
		.chartsContainer {
			padding: 16px;
		}
	}
}
